user/public/images/banner.jpg
user/public/images/CRUD-logos_black.png
user/public/images/CRUD-logos_transparent.png
user/public/images/CRUD-logos_white.png
user/public/images/CRUD-logos.jpeg
user/public/images/hero.png
user/public/images/logo_info.txt
